mat-form-field {
  margin-left: 50px;
  margin-top: 50px;
  width: 320px;

}

fieldset{
  border: solid 1px #000;
}
legend{
  background-color: #000000;
  color: #fff;
  width: 40%;
}

button{
  margin: auto;



  margin-top: 50px;

}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;


}
