<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div *ngFor="let adn of adn">
  <form  #g = "ngForm" style="display: none;">
    <input type="text" name="id" [(ngModel)] = "selectedAdn.id" style="display: none;">
  <br>
  <label>Nom</label>
  <input type="text" name="nom" [(ngModel)] = "selectedAdn.nom">
  <br>
  <label>Prenom</label>
  <input type="text" name="prenom" [(ngModel)] = "selectedAdn.prenom">
  </form>
  <button *ngIf="adn.printed != 'oui' && adn.status == 'Valider' ;" (click)=" selectAdn(adn); printupdt(g);" type="submit" style="float: right; margin-top: 75px; width: 145px; height: 75px; background-color: grey;"
  [useExistingCss]="true"
	printSectionId="adn"
	ngxPrint>Imprimer <i class="fas fa-print"></i></button>
</div>

<div *ngFor="let adn of adn" style="float: right; margin-top: 75px; "  >
  <br>
  <form [formGroup]="adnForm"  #h= "ngForm"  *ngIf="adn.printed == 'oui' &&  adn.status == 'Valider';" >
    <input type="text" name="id" [(ngModel)] = "selectedAdn.id" style="display: none;" [ngModelOptions]="{standalone: true}">
  <br>
    <div style="float: right;">
  <label>Nombre de copie</label> <br>
  <input type="text" name="nb_copie" formControlName="nb_copie" style="width: 145px;">
  <!-- <input [(ngModel)]="showMoreControls" > -->
      <br>
      <button (click)=" selectAdn(adn); printCopie(h);" type="submit" style="float: right;  width: 145px; height: 75px; background-color: grey;"
              [useExistingCss]="true"
              printSectionId="adn"
              ngxPrint>Imprimer copie <i class="fas fa-print"></i></button>
    </div>

  </form>


</div>
<br>
<form *ngIf="user[0].role == 2"  #f = "ngForm" style="float: right; top: 53px; margin-left: 50px; position: absolute;">

  <input type="text" name="id" [(ngModel)] = "selectedAdn.id" style="display: none;">
  <br>

  <input type="text" name="nom" [(ngModel)] = "selectedAdn.nom" disabled style="display: none;">
  &nbsp;<br>
  <input type="text" name="prenom" [(ngModel)] = "selectedAdn.prenom" disabled style="display: none;">
  <br>

  <mat-checkbox class="example-margin"  [ngModelOptions]="{standalone: true}" (change)="updateAdn(f, $event)" [(ngModel)]="checked"> {{text}} </mat-checkbox>


</form>
<div id="adn">
<div class="cadreadn" id="cadreadn" style="width: 210mm; height: 297mm" *ngFor="let adn of adn">


<div class="entetecadre" >
<div class="entetegauche" >
  Region de:    <br>
  &nbsp; Cercle de:    <br>
  &nbsp; Arrondissement de:  <br>
  &nbsp; Commune de: <br>
  &nbsp; Centre: <br>
</div>

<div class="entetedroite" >

  &nbsp; &nbsp; &nbsp; REPUBLIQUE DU MALI <br>
  Un Peuple - Un But - Une Foi <br>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  --------------------------

</div>


<h3 class="titre">EXTRAIT D'ACTE DE NAISSANCE N°________________</h3>

</div>

<div class="enfant" >
  <table >

      <tr>
       <td>  1 Prénom(s): {{adn.prenom}}  </td>
      </tr>
      <tr>
       <td> 2 Nom: {{adn.nom}} </td>
      </tr>
      <tr>
       <td> 3 Date de naissance: {{adn.dateNaissance}} </td>
      </tr>
      <tr>
        <td> 4 Localité: {{localiteNaissance?.name}} </td>
      </tr>
      <tr>
        <td> 5 Sexe: {{adn.sexe}} </td>
      </tr>


  </table>

</div>


<div class="pere" >
  <div class="peregauche">
    Père
  </div>
  <table >

      <tr>
       <td> 6 Prénom(s): {{adn.pPrenom}} </td>
      </tr>
      <tr>
       <td> 7 Nom: {{adn.pNom}} </td>
      </tr>
      <tr>
       <td> 8 Profession: {{adn.pProfession}} </td>
      </tr>
      <tr>
        <td> 9 Domicile: {{adn.pDomicile}} </td>
      </tr>


  </table>

</div>

<div class="mere" >
  <div class="meregauche">
    Mère
  </div>
  <table >

      <tr>
       <td> 10 Prénom(s): {{adn.mPrenom}} </td>
      </tr>
      <tr>
       <td> 11 Nom: {{adn.mNom}} </td>
      </tr>
      <tr>
       <td> 12 Profession: {{adn.mProfession}} </td>
      </tr>
      <tr>
        <td> 13 Domicile: {{adn.mDomicile}} </td>
      </tr>


  </table>

</div>
<div class="officier" >
  <table>
    <tr>
      <td>
      14  Prénom(s) et Nom de l'Officier de l'état civil : {{adn.pnOfficier}}
      </td>
    </tr>
    <tr>
      <td>
      15 Qualité: Officier d'état civil
      </td>
    </tr>
    <tr>
      <td>
      16  Date d'établissement de l'acte: {{adn.date_demande}}
      </td>
    </tr>
  </table>

</div>


<div class="bas">
  Certifie le présent conforme à l'original N°________________de l'année ____ __________ <br>
  &nbsp;  du centre ____________ de la commune ___________ <br>
  &nbsp; Prénom(s) Nom et Qualité______ {{adn.pnOfficier}} _________   <br>
  &nbsp; Officier de l'etat civil du centre _____________ de la commune _______________  <br>
  &nbsp; Date ____ {{adn.date_demande}} ___

    <h1 class="basdroite" >Officier de l'Etat Civil</h1>
</div>



</div>

</div>






